.card { 
    background: var(--card-color);
    border-radius: 10px;
    width: 100%;
}

.card__header { 
    display: flex;
    justify-content: space-between;
    justify-items: center;
    border-bottom: 1px solid var(--divider-color);
    color: var(--secondary-color);
    padding: 1rem 2rem;
}

.card__title h2 { 
    margin: 0;
}

.card__extra { 
    align-self: center
}

.card__content { 
    padding: 1rem 1rem;
}

.card__footer { 
    padding: 1rem 2rem;
}