.header { 
    background: linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    height: var(--header-height);
    color: white;
    padding: 0 var(--global-padding);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {

}

.header__profile {

}