:root { 
  --primary-color: #C00E4E;
  --secondary-color: #8A206F;

  --card-color: white;
  --content-color: #F7F3F7;
  --footer-color: #E9E3E9;

  --list-bg-color: #E8E2E7;

  --divider-color: #F8F8F8;

  --header-height: 40px;
  --global-padding: 2rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, #root, .app { 
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
